extends ../layout

block body
  .ui_content
    section(ng-controller="NavCtrl")
      section.top-menu
        .brand Refaktor
        div(ng-class="{isPrev: isPrev==true}", ng-click="goBack()").previous <
        div(ng-class="{isPrev: isPrev==true}").page
          h2 {{pageInfos.pageTitle}}
        .right_infos
          .add
            div(id="tip_add").legend Ajouter ...
              .icon >
            ul
              li(ng-repeat='item in addItems')
                a(href="#{{item.path}}", ng-class="{active: isActive(item)}") {{item.title}}
          .me
            .icons
              i(ng-click="instantHelp()").fa.fa-life-ring.help
              i.fa.fa-cog
              i.fa.fa-sign-out
            span T. Farneau
            div(style="background-image:url(http://www.tristanfarneau.fr/images/photo.jpg)").avatar
      section(class="info-box {{notify.type}} {{notify.state}}")
        section(ng-if="!notify.msg.question").box-content
          h3 {{notify.title}}
          p {{notify.msg}}
        section(ng-if="notify.msg.question").box-content
          h3 {{notify.title}}
          p {{notify.msg.question}}

          .buttons
            div(ng-click="dialogClick('yes')").button {{notify.msg.yes}}
            div(ng-click="dialogClick('no')").button {{notify.msg.no}}
      aside.sidebar
        ul
          li#tip_account Mon compte
            ul
              li(ng-repeat='item in mainItems')
                a(href="#{{item.path}}", ng-class="{active: isActive(item)}") {{item.title}}
          li#tip_projects Projects
            ul
              li(ng-repeat='item in categoriesItems.projects')
                a(href="#{{item.path}}", ng-class="{active: isActive(item)}") {{item.title}}
                div(class="close", ng-if="$index!=0", ng-click="deleteCategory('projects',item.id,$index)")
                  i.fa.fa-minus-square-o
              li.input
                input(type="text", placeholder="Ajouter une catégorie", ng-keyup="addProjectCategory($event)", ng-model="inputCategory.project")
                i(ng-click="addProjectCategory($event)").fa.fa-plus-square-o
          li#tip_books Cahiers
            ul
              li(ng-repeat="item in preBooksItems")
                a(href="#{{item.path}}", ng-class="{active: isActive(item)}") {{item.title}}
                div(ng-if="$index!=0", ng-click="deleteCategory('books',item.id)").close
              li.separator
              li(ng-repeat='item in categoriesItems.books')
                a(href="#{{item.path}}", ng-class="{active: isActive(item)}") {{item.title}}
                div(ng-if="$index!=0", ng-click="deleteCategory('books',item.id,$index)").close
                  i.fa.fa-minus-square-o
              li.input
                input(type="text", placeholder="Ajouter une catégorie", ng-keyup="addBookCategory($event)", ng-model="inputCategory.book")
                i(ng-click="addBookCategory($event)").fa.fa-plus-square-o
    section(ng-view).content


